<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22790395561-tg2duqtngkgfcdim2pm0dtbufivud4l3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22790395561-tg2duqtngkgfcdim2pm0dtbufivud4l3</string>
	<key>API_KEY</key>
	<string>AIzaSyAaM1mo0bzpmlUn_LOdVgvEOTsBEZaWMEk</string>
	<key>GCM_SENDER_ID</key>
	<string>22790395561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.humansdivided.cp</string>
	<key>PROJECT_ID</key>
	<string>cloud-project-bf9cd</string>
	<key>STORAGE_BUCKET</key>
	<string>cloud-project-bf9cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22790395561:ios:ea805bc47f6a3619913bb8</string>
</dict>
</plist>